.tabs {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    padding: 0 51px;
    border-right: 2px solid #f2f4f6;
    font-size: 30px;
    color: #646970;
    cursor: pointer;
    transition: all .3s;
    font-family: $mainFont;
    font-weight: 400px;

    &_active, &:hover {
      box-shadow: 0px 16px 27px 0px rgba(6, 86, 249, 0.08);
      border-right: none;
      border-bottom: 4px solid $blue;
      color: $mainFontColor;
    }
  }
}
