.header
  .container.header__wrap
    .header__title Матч Lucid Dream vs Astro
    .header__action
      .button.button_puls
        img(src="/assets/img/pulse.png")
        | График изменения ставок
